* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    max-width: 320px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 16px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    text-align: center;
}

.img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

p.heading {
    font-weight: 700;
    font-size: 22px;
    padding: 12px;
    color: var(--dark-blue)
}

p.subheading {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 18px;
}